APPLE_ID_USERNAME="your_email@gmail.com"
TEAM_ID="5FHKM5LLW9"
ITC_TEAM_ID="126180619"

# General Beta App Review Information
FIRST_NAME="Dimas"
LAST_NAME="Saputro"
PHONE_NUMBER="+6287837123646"
EMAIL="dimas.saputro@hashmicro.com.sg"

# Google Drive Auto-Upload Configuration
GDRIVE_CREDENTIALS_PATH="credentials/gdrive_service_account.json"
